# compiled files
*.pyc

#distribution files
build/
dist/
*.egg-info

# test reports
tests/reports

# coverage files
.coverage*
coverage.xml
htmlcov/
.instrumental.cov

# .rst-formatted README
README.rst

# compiled documentation
docs/source
docs/_build

# pytest .cache directory
.cache/
.pytest_cache/

# passwords
tests/fixtures/secret/

# IDE configuration
.idea/

# CircleCI Docker context
circleci_docker_context/

# logs
logs/

#environment
.venv/
