# compiled files
*.pyc

#distribution files
build/
dist/
*.egg-info

# test reports
tests/reports

# coverage file
.coverage*

# .rst-formatted README
README.rst

# compiled documentation
docs/source
docs/_build

# pytest .cache directory
.cache/

#conda skeletons and tokens
karr_lab_build_utils/conda/skeletons/
karr_lab_build_utils/conda/tokens/

tests/fixtures/GITHUB_USERNAME
tests/fixtures/GITHUB_PASSWORD
tests/fixtures/CIRCLE_API_TOKEN
tests/fixtures/CODECLIMATE_API_TOKEN
