abduct
attrdict
capturer
cement
codeclimate_test_reporter
coverage < 4.4
coveralls
enum34
graphviz
# instrumental
jinja2
mock
networkx
nose
pip
pip_check_reqs
pylint
pyyaml
pytest
requests
git+https://github.com/KarrLab/pkg_utils.git#egg=pkg_utils[all]
setuptools
six
sphinx
sphinx_rtd_theme
sphinxcontrib_spelling
twine
wheel
