abduct
cement
codeclimate_test_reporter
configparser
coverage < 4.4
coveralls
jinja2
mock
nose
pyyaml
pytest
requests
git+https://github.com/KarrLab/pkg_utils.git#egg=pkg_utils
sphinx
sphinx_rtd_theme
sphinxcontrib_spelling
