abduct
attrdict
capturer
cement
click
configobj
coverage
coveralls
enum34
ftputil
graphviz
# instrumental
jinja2
mock
natsort
networkx
nose
pip
pip_check_reqs
git+https://github.com/KarrLab/pkg_utils.git#egg=pkg_utils-0.0.3[all]
pygithub
pylint
pytest
python_dateutil
pyyaml
requests
robpol86_sphinxcontrib_googleanalytics
setuptools
six
sphinx >= 1.7
sphinx_rtd_theme
sphinxcontrib_bibtex
sphinxcontrib_spelling
twine
git+https://github.com/KarrLab/wc_utils.git#egg=wc_utils-0.0.1a5[all]
wheel
whichcraft
