<html>
    <body>
        <p>Hi {{ committer.name }},</p>
        
        <p>Uh-oh, a commit to {{ upstream.repo_name }} may have broken {{ downstream.repo_name }}.</p>
        
        <p>Upstream:
            <ul>
                <li>Repo: <a href="https://github.com/KarrLab/{{ upstream.repo_name }}">{{ upstream.repo_name }}</a></li>
                <li>Commit: <a href="{{ upstream.commit_url }}">{{ upstream.commit|truncate(6) }}</a></li>
                <li>Build: <a href="{{ upstream.build_url }}">{{ upstream.build_num }}</a></li>
                <li>Subject: {{ upstream.commit_subject }}</li>
            </ul>
        </p>

        <p>Downstream:
            <ul>
                <li>Repo: <a href="https://github.com/KarrLab/{{ downstream.repo_name }}">{{ downstream.repo_name }}</a></li>
                <li>Commit: <a href="{{ downstream.commit_url }}">{{ downstream.commit|truncate(6) }}</a></li>
                <li>Build: <a href="{{ downstream.build_url }}">{{ downstream.build_num }}</a></li>
                <li>Subject: {{ downstream.commit_subject }}</li>
            </ul>
        </p>

        <p>Test summary:
            <ul>
                <li>Tests: {{ test_results.get_num_tests }}</li>
                <li>Passed: {{ test_results.get_num_passed }}</li>
                <li>Skipped: {{ test_results.get_num_skipped }}</li>
                <li>Errors: {{ test_results.get_num_errors }}</li>
                <li>Failures: {{ test_results.get_num_failures }}</li>               
            </ul>
        </p>

        <p>Errors and failures:
            <ul>
            {% for case in test_results.cases %}
                {% if case.type.name == 'error' or case.type.name == 'failure' %}
                <li>{{ case.classname }}.{{ case.name }} :: {{ case.subtype }} :: {{ case.message }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        </p>
    </body>
</html>
