# forks of third-party packages
git+https://github.com/KarrLab/sphinxcontrib-googleanalytics.git#egg=sphinxcontrib_googleanalytics

# Karr Lab packages
git+https://github.com/KarrLab/pkg_utils.git#egg=pkg_utils
git+https://github.com/KarrLab/wc_utils.git#egg=wc_utils
