<html>
    <body>
        <p>Hi,</p>

        <p>Hooray, {{ committer_name }} fixed {{ repo_name }}!</p>

        <p>Commit:
            <ul>
                <li>Repo: <a href="https://github.com/KarrLab/{{ repo_name }}">{{ repo_name }}</a></li>
                <li>Commit: <a href="{{ commit_url }}">{{ commit|truncate(6) }}</a></li>
                <li>Commiter: <a href="mailto:{{ committer_email }}">{{ committer_name }}</a></li>
                <li>Subject: {{ commit_subject }}</li>
                <li>Build: <a href="{{ build_url }}">{{ build_num }}</a></li>
            </ul>
        </p>
    </body>
</html>
