abduct
cement
git+https://github.com/KarrLab/python-test-reporter.git#egg=codeclimate-test-reporter >= 0.2.1a0
configparser
coverage
coveralls
nose
pytest
requests
Sphinx
sphinx_rtd_theme
robpol86-sphinxcontrib-googleanalytics
