abduct
cement
codeclimate_test_reporter
configparser
coverage < 4.4
coveralls
nose
pytest
pyyaml
requests
sphinx >= 1.6
sphinx_rtd_theme
sphinxcontrib_bibtex
robpol86_sphinxcontrib_googleanalytics
sphinxcontrib_spelling
