abduct
cement
codeclimate-test-reporter
configparser
coverage<4.4
coveralls
nose
pytest
pyyaml
requests
Sphinx >= 1.6
sphinx_rtd_theme
sphinxcontrib-bibtex
robpol86-sphinxcontrib-googleanalytics
sphinxcontrib-spelling
